body {
    width: auto;
    height: auto;
    background-color: red;
}

input[type=text] {
    background-color: lightgrey;
    width: 8%;
    height: 6px;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type=number] {
    background-color: lightgrey;
    width: 8%;
    height: 6px;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: palegoldenrod;
}

div {
    width: 140px;
    border-radius: 5px;
    padding: 10px;
}

h3 {
    width: auto;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    width: auto;
    border-radius: 5px;
    padding: 10px;
}