body {
    width: auto;
    height: auto;
    background-image: url("https://wallpapercave.com/wp/X8knObk.jpg");
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #334d4d;
    font-size: 12px;
}

#league {
    position: left;
    width: 200px;
    color: white;
    font-size: 24px;
}

div.link{
    width: 600px;
    margin 100%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
}

#title {
    position: left
    width: 200px;
    height: 70px;
    color: white;
    font-size: 24px;
    padding-right: 30px;
    padding-left: 20px;
}

#byId {
    padding-right: 30px;
    padding-left: 20px;
}

#id {
    font-size: 14px;
    color: white;
}

#byName {
    padding-right: 30px;
    padding-left: 20px;
}