<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/indexStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <title>Main Page</title>
</head>
<body>
<div>
    <form th:action="@{/id}" th:object="${id}" method="get">
        <input type="text" name="id" placeholder="Search by id"/>
        <button type="submit" value="Submit">Search by id</button>
    </form>
    <form th:action="@{search/name}" th:object="${name}" method="get">
        <input type="text" name="name" placeholder="Search by name"/>
        <button type="submit" value="Submit">Search by name</button>
    </form>
</div>
<table class="table table-hover table-dark" style="font-size: small">
    <tr th:each="hero : ${list}">
        <h2 style="color: lavenderblush">ID:</h2>
        <h3 style="color: lavenderblush"><th:order th:text="${hero.id}" ></th:order></h3>
        <h2 style="color: lavenderblush">NAME:</h2>
        <h3 style="color: lavenderblush"><th:order th:text="${hero.name}" ></th:order></h3>
        <h2 style="color: lavenderblush">STATS</h2>
        <h3 style="color: lavenderblush"><th:order th:text="${hero.powerstats}" ></th:order></h3>
    </tr>
</table>
</body>
</html>