<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/collectionStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Collection</title>
</head>
<body id="body">
<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="openNav()">&#9776;</button>

<div id="mySidenav" class="sidenav">
    <button id="closebtn" onclick="closeNav()">close &times;</button>

    <a id="home" href="#" th:href="@{/index}">home</a>
    <a id="coll" href="#" th:href="@{/collection}">collection</a>
    <a id="dc" href="#" th:href="@{/DCNextWeek}">dc week</a>
    <a id="mar" href="#" th:href="@{/MarvelNextWeek}">marvel week</a>
</div>

<div id="main">
    <!-- Use any element to open the sidenav -->
    <div id="myContainer" class="w3-teal">

        <div class="w3-container">
            <div id="header">
                <h2 id="head">collection</h2>
            </div>
            <div id="headMenu">
                    <ul id="search">
                    <form th:action="@{/search}" th:object="${search}" method="get">
                        <input type="search" name="search" placeholder="get comix :)"/>
                        <button class="btn btn-default" id="buttonSearch" type="submit" value="submit">search</button>
                    </form>
                    </ul>
                    <li id="asc">
                    <form th:action="@{/asc}" th:object="${search}" method="get">
                        <button class="btn btn-default" id="buttonAsc" type="submit" value="submit">order asc</button>
                    </form>
                    </li>
                    <li id="desc">
                    <form th:action="@{/desc}" th:object="${search}" method="get">
                        <button class="btn btn-default" id="buttonDesc" type="submit" value="submit">order desc</button>
                    </form>
                    </li>
                    <li id="ref">
                    <form th:action="@{/collection}" th:object="${search}" method="get">
                        <button class="btn btn-default" id="buttonRefresh" type="submit" value="submit">refresh</button>
                    </form>
                    </li>

            <table class="table">
                <thead id="thead">
                <th scope="col" ><div th:if="${message}"><h2 id="message" th:text="${message}"/></div></th>
                </thead>
                <tr th:each="comix : ${list}">
                    <td id="title" th:text="${comix.title}"></td>
                    <td><img class="zoom" th:src="@{/{id}/image(id=${comix.id})}"></td>
                    <td>
                        <th:order>
                        <a class="btn btn-danger" th:href="@{/{id}/delete(id=${comix.id})}"
                           role="button" onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
                        </th:order>
                        <th:order>
                        <a class="btn btn-default" th:href="@{/{id}/edit(id=${comix.id})}" role="button">EDIT</a>
                        </th:order>
                    </td>
                    <td id="notes" th:text="${comix.description}"></td>
                    <td id="pub" th:text="${comix.publisher}"></td>
                    <td id="done" th:if="${comix.getReaded()}">FINISHED</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="../static/collection.js"></script>
</body>
</html>