<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/collectionStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Collection</title>
</head>
<body id="body">
<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="openNav()">&#9776;</button>

<div id="mySidenav" class="sidenav">
    <button id="closebtn" onclick="closeNav()">close &times;</button>

    <a id="home" href="#" th:href="@{/index}">home</a>
    <a id="coll" href="#" th:href="@{/collection}">collection</a>
    <a id="dc" href="#" th:href="@{/DCNextWeek}">dc week</a>
    <a id="mar" href="#" th:href="@{/MarvelNextWeek}">marvel week</a>
</div>

<div id="main">
    <!-- Use any element to open the sidenav -->
    <div id="myContainer" class="w3-teal">

        <div class="w3-container">
            <div id="header">
                <h2 id="head">collection</h2>
            </div>
            <table class="table">
                <thead id="tHead">

                </thead>
                <tr th:each="comix : ${list}">
                    <td id="title" th:text="${comix.title}"></td>
                    <td id="pub" th:text="${comix.publisher}"></td>
                    <td><img th:src="${comix.id}" width="240" height="340"></td>
                    <td>
                        <th:order>
                        <a class="btn btn-danger" th:href="@{/{id}/delete(id=${comix.id})}"
                           role="button" onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
                        </th:order>
                        <th:order>
                        <a class="btn btn-default" th:href="@{/{id}/edit(id=${comix.id})}" role="button">EDIT</a>
                        </th:order>
                    </td>
                    <td th:if="${comix.getDone()}">*</td>
                </tr>
            </table>

        </div>
    </div>
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>