<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/collectionStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Collection</title>
</head>
<body id="body">
<button id="openNav" class="w3-button" onclick="openNav()">&#9776;</button>

<div id="mySidenav" class="sidenav">
    <button id="closebtn" class="w3-button" onclick="closeNav()">close &times;</button>

    <a id="home" href="#" class="fa fa-home" th:href="@{/index}"> home</a>
    <a id="coll" href="#" class="fa fa-file-text-o" th:href="@{/collection}"> collection</a>
    <a id="dc" href="#" class="fa fa-contao" th:href="@{/DCNextWeek}"> dc week</a>
    <a id="mar" href="#" class="fa fa-contao" th:href="@{/MarvelNextWeek}"> marvel week</a>
</div>

<div id="main">
    <!-- Use any element to open the sidenav -->

            <div id="header" class="w3-panel w3-border w3-round-xlarge">
                <h2 id="head">collection</h2>
            </div>
            <div id="headMenu" class="w3-panel w3-border w3-round-xlarge">
                    <ol id="search">
                    <form th:action="@{/search}" th:object="${search}" method="get">
                        <input id="searchField" type="search" name="search" placeholder="get comix :)"/>
                        <button class="w3-button" style="border-radius: 8px;"
                                id="buttonSearch" type="submit" value="submit"><i class="fa fa-search"></i></button>
                    </form>
                    </ol>
                    <ol id="desc">
                        <form th:action="@{/desc}" th:object="${search}" method="get">
                            <button class="w3-button" style="border-radius: 8px;"
                                    id="buttonDesc" type="submit" value="submit"><i class="fa fa-sort-alpha-desc"> order desc</i></button>
                        </form>
                    </ol>
                    <ol id="asc">
                    <form th:action="@{/asc}" th:object="${search}" method="get">
                        <button class="w3-button" style=""
                                id="buttonAsc" type="submit" value="submit"><i class="fa fa-sort-alpha-asc"> order asc</i></button>
                    </form>
                    </ol>
                    <ol id="ref">
                    <form th:action="@{/collection}" th:object="${search}" method="get">
                        <button class="w3-button" style="border-radius: 8px;"
                                id="buttonRefresh" type="submit" value="submit"><i class="fa fa-refresh"> refresh</i></button>
                    </form>
                    </ol>
                <div id="mess">
                    <div th:if="${noFound}"><h4 id="message" th:text="${noFound}"/></div>
                </div>
            </div>
    <div id="table">
            <table class="table">
                <thead>
                </thead>
                <tr id="tableEntity" th:each="comix : ${list}" class="w3-panel w3-border w3-round-xlarge">
                    <td id="title" style="border-radius: 8px;" th:text="${comix.title}"></td>
                    <td><img style="border-radius: 8px;" class="zoom" th:src="@{/{id}/image(id=${comix.id})}"></td>
                    <td>
                        <th:order>
                        <a class="w3-button" style="color: white;"
                           th:href="@{/{id}/delete(id=${comix.id})}"
                           role="button" onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
                        </th:order>
                        <th:order>
                        <a class="w3-button" style="color: white;"
                           th:href="@{/{id}/edit(id=${comix.id})}" role="button" onclick="return check()">EDIT</a>
                        </th:order>
                    </td>
                    <td id="notes" style="border-radius: 8px;" class="zoomString" th:text="${comix.description}"></td>
                    <td id="pub" style="border-radius: 8px;" th:text="${comix.publisher}"></td>
                    <td id="done" th:if="${comix.getReaded()}" style="font-size:32px" class="fa">&#xf046;</td>
                </tr>
            </table>
    </div>

</div>
<script type="text/javascript" src="../static/collection.js"></script>
</body>
</html>