<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link href="../static/newuserStyle.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <title>Create account</title>
</head>
<body>
<hi>Create your account</hi>
<div>
    <form th:action="@{/createUser}" style="left: auto" th:object="${addUser}" method="post">
        <input class="col-xs-4 input-sm" type="text" placeholder="username" th:field="*{username}" />
        <input class="col-xs-4 input-sm" type="password" placeholder="password" th:field="*{password}" />
        <input class="col-xs-4 input-sm" type="password" placeholder="password again" th:field="*{confirmPassword}" />
        <button type="submit" value="submit" >Join the league</button>
    </form>
</div>
<div class="link">
    <nav>
        <a id="backLogin" href="/">Back to the Login Page</a>
    </nav>
</div>
</body>
</html>