#body {
    width: auto;
    height: auto;
    font-family: "Lato", sans-serif;
    background-color: #21160b;
}

#myContainer {
}

#title{
    color: #ffffeb;
}

#pub{
    color: #ffffeb;
}

#done{
    color: #ffffeb;
}

#headSection{
    width: auto;
}

#header {
    height: 100px;
    width: 100%;
    background-color: #a6a6a6;
    background-image:
    url("../static/header.png");
    border-radius: 8px;
}

#head{
    text-align: right;
    text-shadow: 2px 2px 8px #b35900;
    padding-top: 40px;
    padding-right: 60px;
    letter-spacing: 5px;
    color:white;
}

#thead{
    height: 30px;
}

#message{
    color:#ffffeb;
}

#headMenu{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search{
    float: left;
}

#asc{
    float: right;
    padding-left: 50px;
}

#desc{
    float: right;
    padding-left: 50px;
}

#ref{
    float: right;
    padding-left: 50px;
}

#refresh{
    padding-top: 10%;
}

.table{
    margin-top: 10%;
}

#notes{
    overflow: auto;
    text-decoration: light;
    color: #ffffeb;
}

h1 {
    color: #c9d3b7;
}

/* The side navigation menu */
#openNav{
    position: fixed;
}

.sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #382817;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        opacity: 0.9;
}

.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#home{color:#a6a5a3;}
#coll{color:#a6a5a3;}
#dc{color:#a6a5a3;}
#mar{color:#a6a5a3;}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*image zoom menu*/
.zoom {
    padding: ;
    transition: transform .7s;
    width: 120px;
    height: 170px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(3.0); /* IE 9 */
    -webkit-transform: scale(3.0); /* Safari 3-8 */
    transform: scale(3.0);
}

#footer {

}

#copyright {
    height: 100px;
    width: 100%;
    background-color: black;
}

