#body {
    width: auto;
    height: auto;
    background-color: #21160b;
}

#files {
    border-radius: 8px;
    background-color: #ffffeb;
}

#header {
    height: 100px;
    background-color: #a6a6a6;
    background-image:
    url("../static/header.png");
    border-radius: 8px;
}

#multi{
    text-align: right;
    text-shadow: 2px 2px 8px #b35900;
    padding-top: 40px;
    padding-right: 60px;
    letter-spacing: 5px;
    color:white;
}

#myContainer {
}

#formBody{

}

#files{

}

#fileNum{
    display: block;
    color: #21160b;
}

#fileSize{
    text-color: #ffffeb;
    color: #ffffeb;
}

#multiP{
    border-radius: 8px;
    color:#995c00;
}

#single{
    color:#ffa642;
}

#message{
    color:#ffffeb;
}

#upList{
    color:#ffffeb;
}

#list{
    color:#ffffeb;
}

#fileWindow{
    width: 40%;
    height: 200px;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10px;
    text-decoration: light;
}

#uploadButton{
    text-color: black;
}

/* The side navigation menu */
#openNav{
    position: fixed;
}

.sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #382817;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        opacity: 0.9;
}

.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

#home{color:#a6a5a3;}
#coll{color:#a6a5a3;}
#dc{color:#a6a5a3;}
#mar{color:#a6a5a3;}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Progress bar */
#selectedFiles{
  color: #ffffeb;
}

#progressBar{
   height: 30px;
   width: 50%;
   margin-bottom: 20px;
   border-radius: 8px;
}

#bar{
   height: 100%;
   background: #ffffeb;
   width: 0%;
   border-radius: 8px;
}

#footer {

}

#copyright {
    height: 100px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}


