#body {
    width: auto;
    height: auto;
    background-image:
    url("https://www.wallpapersrc.com/img/d41dfe0a10344e999d8d54b5253ce3e6/black-pentagon-texture-and-a-little-blue-light-1920x1200.jpg");
    background-repeat: repeat;
}

#myContainer {
}

#time{
    color: #ffa642;
}

#single{
    color:#ffa642;
}

#multi{
    color:#ffa642;
}

#message{
    color:#ffa642;
}

#multiP{
    color:#ccffff;
}

#upList{
    color:#ccffff;
}

#list{
    color:#ccffff;
}

#fileNum{
    color:#ccffff;
}

#fileSize{
    color:#ffa642;
}

/* The side navigation menu */
#openNav{
    position: fixed;
}

.sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        opacity: 0.7;
}

.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#home{color:#ffa642;}
#coll{color:#ffa642;}
#dc{color:#ffa642;}
#mar{color:#ffa642;}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}